.Style1{font-family: 'Arial-BoldMT','Arial',sans-serif;
font-size: 11px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style2{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 36px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #521B92;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style3{font-family: 'Georgia',serif;
font-size: 48px; 
font-weight:700; 
margin:0;
color: #521B92;
text-shadow: 3.0000px 0.0000px 3.0px rgba(0,0,0,0.8);
word-wrap: break-word;}
.Style4{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #005392;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style5{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #011892;
word-wrap: break-word;}
.Style6{font-family: 'Georgia',serif;
font-size: 13px; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style7{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 25px; 
font-weight:900; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style8{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 25px; 
font-weight:900; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style9{font-family: 'Helvetica',sans-serif;
font-size: 36px; 
margin:0;
color: #FF2600;
word-wrap: break-word;}
.Style10{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #011892;
word-wrap: break-word;}
.Style11{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #011892;
letter-spacing: 0.01em; 
word-wrap: break-word;}
.Style12{font-family: 'Helvetica',sans-serif;
font-size: 200px; 
margin:0;
color: #FEFB00;
text-shadow: 3.0000px 0.0000px 3.0px rgba(0,0,0,0.8);
word-wrap: break-word;}
.Style13{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 36px; 
font-weight:700; 
margin:0;
color: #FEFB00;
text-shadow: 3.0000px 0.0000px 3.0px rgba(0,0,0,0.8);
word-wrap: break-word;}
.Style14{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:900; 
margin:0;
color: #011892;
word-wrap: break-word;}
.Style15{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 14px; 
font-weight:700; 
margin:0;
color: #D5D5D5;
word-wrap: break-word;}
.Style16{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 12px; 
font-weight:900; 
margin:0;
color: #D5D5D5;
word-wrap: break-word;}
.Style17{font-family: 'Georgia-Bold','Georgia',serif;
font-size: 14px; 
font-weight:700; 
margin:0;
color: #D5D5D5;
word-wrap: break-word;}
.Style18{font-family: 'Pacifico-Regular','Pacifico';
font-size: 36px; 
font-weight:700; 
margin:0;
color: #FEFB00;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.8);
word-wrap: break-word;}
.Style19{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 12px; 
font-weight:700; 
margin:0;
color: #941651;
word-wrap: break-word;}
.Style20{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 11px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #011892;
word-wrap: break-word;}
.Style21{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 10px; 
font-weight:700; 
margin:0;
color: #941651;
word-wrap: break-word;}
.Style22{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
margin:0;
color: #005392;
word-wrap: break-word;}
.Style23{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 48px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style24{font-family: 'Georgia',serif;
font-size: 48px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style25{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #521B92;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style26{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 36px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #005392;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style27{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 36px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style28{font-family: 'Georgia',serif;
font-size: 48px; 
font-weight:700; 
margin:0;
color: #521B92;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style29{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #005392;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style30{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #521B92;
text-shadow: 1.5000px 0.0000px 1.0px rgba(0,0,0,0.3);
word-wrap: break-word;}
.Style31{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:900; 
margin:0;
color: #941100;
word-wrap: break-word;}
.Style32{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style33{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 17px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style34{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style35{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 13px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style36{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 14px; 
font-weight:700; 
margin:0;
color: #941100;
word-wrap: break-word;}
.Style37{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #011892;
word-wrap: break-word;}
.linkStyle_38{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#008F51#FF2600*/
word-wrap: break-word;}
a.linkStyle_38:visited{color:#008F51; text-decoration:underline;}
a.linkStyle_38:hover{color:#FF2600; text-decoration:underline;}
.Style41{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
margin:0;
color: #011892;
word-wrap: break-word;}
.Style42{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #521B92;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style43{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 30px; 
font-weight:700; 
margin:0;
color: #005392;
word-wrap: break-word;}
.Style44{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 30px; 
font-weight:700; 
color: #FF2600;
word-wrap: break-word;}
.Style45{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 14px; 
font-weight:700; 
margin:0;
color: #FF2600;
word-wrap: break-word;}
.linkStyle_46{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 14px; 
font-weight:700; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#008F51#FF2600*/
word-wrap: break-word;}
a.linkStyle_46:visited{color:#008F51; text-decoration:underline;}
a.linkStyle_46:hover{color:#FF2600; text-decoration:underline;}
.Style49{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 14px; 
font-weight:700; 
color: #FF2600;
word-wrap: break-word;}
.Style50{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 17px; 
font-weight:700; 
margin:0;
color: #0432FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style51{font-family: 'Pacifico-Regular','Pacifico';
font-size: 18px; 
font-weight:700; 
margin:0;
color: #FEFB00;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style52{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 17px; 
font-weight:700; 
color: #0432FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style53{font-family: 'Optima-Italic','Optima','Arial',sans-serif;
font-size: 27px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #941651;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style54{font-family: 'Optima-Regular','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style55{font-family: 'Optima-Regular','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
color: #0432FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style56{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 36px; 
font-weight:700; 
margin:0;
color: #005392;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style57{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 15px; 
font-weight:700; 
margin:0;
color: #FF2600;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style58{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 15px; 
font-weight:700; 
color: #941651;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style59{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
margin:0;
text-decoration: underline;
color: #FF2600;
word-wrap: break-word;}
.Style60{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
margin:0;
color: #FF2600;
word-wrap: break-word;}
.Style61{font-family: 'Optima-Italic','Optima','Arial',sans-serif;
font-size: 27px; 
font-weight:700; 
font-style: italic;
margin:0;
text-decoration: underline;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style62{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 15px; 
font-weight:700; 
margin:0;
color: #941651;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style63{font-family: 'Optima-Regular','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
color: #0096FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style64{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 15px; 
font-weight:700; 
margin:0;
color: #005392;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style65{font-family: 'Optima-Italic','Optima','Arial',sans-serif;
font-size: 27px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #941651;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style66{font-family: 'Optima-Regular','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
color: #005392;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style67{font-family: 'Optima-Regular','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #0432FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style68{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 17px; 
font-weight:700; 
margin:0;
color: #FF2600;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style69{font-family: 'Pacifico-Regular','Pacifico';
font-size: 18px; 
font-weight:700; 
margin:0;
color: #FF2600;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style70{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 17px; 
font-weight:700; 
color: #FF2600;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style71{font-family: 'ArialMT','Arial',sans-serif;
font-size: 14px; 
font-weight:700; 
margin:0;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style72{font-family: 'Optima-Regular','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
color: #0432FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style73{font-family: 'Optima-Regular','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #0432FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style74{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #941651;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style75{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
color: #0432FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style76{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #0432FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style77{font-family: 'Optima-Regular','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #941651;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style78{font-family: 'ArialMT','Arial',sans-serif;
font-size: 13px; 
font-weight:700; 
margin:0;
color: #0432FF;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style79{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style80{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 12px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style81{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
font-style: italic;
margin:0;
text-decoration: underline;
color: #011892;
word-wrap: break-word;}
.Style82{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
margin:0;
color: #005392;
word-wrap: break-word;}
.linkStyle_83{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#008F51#FF2600*/
word-wrap: break-word;}
a.linkStyle_83:visited{color:#008F51; text-decoration:underline;}
a.linkStyle_83:hover{color:#FF2600; text-decoration:underline;}
.Style86{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
color: #005392;
word-wrap: break-word;}
.Style87{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 36px; 
font-weight:900; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.linkStyle_88{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 36px; 
font-weight:900; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#008F51#FF2600*/
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
a.linkStyle_88:visited{color:#008F51; text-decoration:underline;}
a.linkStyle_88:hover{color:#FF2600; text-decoration:underline;}
.Style91{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 48px; 
font-weight:900; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style92{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 20px; 
font-weight:700; 
margin:0;
color: #011892;
word-wrap: break-word;}
.Style93{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 20px; 
font-weight:700; 
color: #005392;
word-wrap: break-word;}
.Style94{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 20px; 
font-weight:700; 
margin:0;
color: #005392;
word-wrap: break-word;}
.Style95{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 20px; 
font-weight:700; 
color: #011892;
word-wrap: break-word;}
.Style96{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 36px; 
font-weight:700; 
margin:0;
color: #011892;
word-wrap: break-word;}
.Style97{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 12px; 
font-weight:700; 
margin:0;
color: #011892;
word-wrap: break-word;}
.Style98{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #521B92;
text-shadow: 1.5000px 0.0000px 1.0px rgba(0,0,0,0.3);
word-wrap: break-word;}
.Style99{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
text-decoration: underline;
color: #011892;
word-wrap: break-word;}
.Style100{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
color: #005392;
word-wrap: break-word;}
.Style101{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
color: #011892;
word-wrap: break-word;}
.Style102{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #521B92;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style103{font-family: 'MarkerFelt-Thin','Marker Felt';
font-size: 24px; 
font-weight:100; 
margin:0;
color: #FF2600;
word-wrap: break-word;}
.Style104{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #005392;
word-wrap: break-word;}
.Style105{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
font-style: italic;
color: #005392;
word-wrap: break-word;}
.Style106{font-family: 'Helvetica-Bold','Helvetica',sans-serif;
font-size: 21px; 
font-weight:700; 
margin:0;
color: #011892;
word-wrap: break-word;}
.Style107{font-family: 'Helvetica-Bold','Helvetica',sans-serif;
font-size: 22px; 
font-weight:700; 
margin:0;
text-decoration: underline;
color: #011892;
word-wrap: break-word;}
.Style108{font-family: 'Helvetica-Bold','Helvetica',sans-serif;
font-size: 18px; 
font-weight:700; 
margin:0;
color: #005392;
word-wrap: break-word;}
.Style109{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
margin:0;
text-decoration: underline;
color: #011892;
word-wrap: break-word;}
.Style110{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
margin:0;
text-decoration: underline;
color: #011892;
word-wrap: break-word;}
.Style111{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 17px; 
font-weight:700; 
margin:0;
color: #005392;
word-wrap: break-word;}
.Style112{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
margin:0;
color: #521B92;
text-shadow: 1.5000px 0.0000px 1.0px rgba(0,0,0,0.3);
word-wrap: break-word;}
.Style113{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
color: #FF2600;
text-shadow: 1.5000px 0.0000px 1.0px rgba(0,0,0,0.3);
word-wrap: break-word;}
.Style114{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
color: #521B92;
text-shadow: 1.5000px 0.0000px 1.0px rgba(0,0,0,0.3);
word-wrap: break-word;}
.Style115{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:900; 
margin:0;
color: #011892;
word-wrap: break-word;}
.Style116{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 18px; 
font-weight:700; 
color: #FF2600;
word-wrap: break-word;}
.Style117{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 13px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #FF2600;
word-wrap: break-word;}
.linkStyle_118{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 13px; 
font-weight:700; 
font-style: italic;
color: #0432FF;
text-decoration: underline; 
/*000#00F900#008F51#FF2600*/
word-wrap: break-word;}
a.linkStyle_118:visited{color:#008F51; text-decoration:underline;}
a.linkStyle_118:hover{color:#FF2600; text-decoration:underline;}
.Style121{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
margin:0;
text-decoration: underline;
color: #005392;
word-wrap: break-word;}
.Style122{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
margin:0;
color: #005392;
word-wrap: break-word;}
.Style123{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
margin:0;
color: #011892;
word-wrap: break-word;}
.Style124{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
color: #FF2600;
word-wrap: break-word;}
.Style125{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
color: #011892;
word-wrap: break-word;}
.Style126{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
text-decoration: underline;
color: #005392;
word-wrap: break-word;}
.Style127{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 16px; 
font-weight:700; 
margin:0;
text-decoration: underline;
color: #011892;
word-wrap: break-word;}
.Style128{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
margin:0;
color: #005392;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style129{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
color: #FF2600;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style130{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
color: #005392;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style131{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:900; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style132{font-family: 'Optima-Bold','Optima','Arial',sans-serif;
font-size: 36px; 
font-weight:700; 
margin:0;
color: #011892;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.5);
word-wrap: break-word;}
.Style133{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:900; 
margin:0;
color: #005392;
text-shadow: 1.5000px 0.0000px 1.5px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style134{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #FF2600;
text-shadow: 1.5000px 0.0000px 1.0px rgba(0,0,0,0.3);
word-wrap: break-word;}
.Style135{font-family: 'Optima-ExtraBlack','Optima','Arial',sans-serif;
font-size: 30px; 
font-weight:900; 
margin:0;
color: #011892;
text-shadow: 1.0000px 0.0000px 1.0px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style136{font-family: 'Pacifico-Regular','Pacifico';
font-size: 24px; 
font-weight:700; 
margin:0;
color: #FEFB00;
text-shadow: 1.0000px 0.0000px 1.0px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style137{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
font-style: italic;
color: #005392;
text-shadow: 1.0000px 0.0000px 1.0px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style138{font-family: 'Pacifico-Regular','Pacifico';
font-size: 24px; 
font-weight:700; 
color: #FEFB00;
text-shadow: 1.0000px 0.0000px 1.0px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style139{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
font-style: italic;
margin:0;
color: #005392;
text-shadow: 1.0000px 0.0000px 1.0px rgba(0,0,0,0.4);
word-wrap: break-word;}
.Style140{font-family: 'Pacifico-Regular','Pacifico';
font-size: 24px; 
font-weight:700; 
font-style: normal;
color: #FEFB00;
text-shadow: 1.0000px 0.0000px 1.0px rgba(0,0,0,0.4);
word-wrap: break-word;}
.linkStyle_141{font-family: 'Optima-BoldItalic','Optima','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
font-style: italic;
color: #0432FF;
text-decoration: underline; 
/*000#00F900#008F51#FF2600*/
text-shadow: 1.0000px 0.0000px 1.0px rgba(0,0,0,0.4);
word-wrap: break-word;}
a.linkStyle_141:visited{color:#008F51; text-decoration:underline;}
a.linkStyle_141:hover{color:#FF2600; text-decoration:underline;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.animhidden{opacity: 0}
.animvisible{opacity: 1}